*.md text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.py text working-tree-encoding=UTF-8
*.ps1 text working-tree-encoding=UTF-8
*.sh text working-tree-encoding=UTF-8 eol=lf
